<div class="col-md-6 col-md-offset-3 formbg">
    <h4 class="headerhd"><i class="far fa-file-alt"></i>&nbsp;Create Hardware</h4>
    <form name="form" class="formcont" (ngSubmit)="f.form.valid && hardwareType()" #f="ngForm" novalidate>
        
<div>
            <label for="hardwareid">Haraware ID</label>
            <input type="text" class="form-control" name="hardwareid" [(ngModel)]="model.hardwareid" #hardwareid="ngModel" required />
            <div *ngIf="f.submitted && !hardwareid.valid" class="help-block">Haraware ID is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !hardwarename.valid }">
            <label for="hardwarename">Hardware Name</label>
            <input type="text" class="form-control" name="hardwarename" [(ngModel)]="model.hardwarename" #hardwarename="ngModel" required />
            <div *ngIf="f.submitted && !hardwarename.valid" class="help-block">Hardware Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !hardwaremodel.valid }">
            <label for="hardwaremodel">Hardware Model</label>
            <input type="text" class="form-control" name="hardwaremodel" [(ngModel)]="model.hardwaremodel" #hardwaremodel="ngModel" required />
            <div *ngIf="f.submitted && !hardwarename.valid" class="help-block">Hardware Model is required</div>
        </div>

        
		
		
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Create</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/dashboard']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>






